.modal {
    font-family: Poppins, sans-serif;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.modal-content {
    position: relative;
    max-width: 418px;
    width: 100%;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 21px;
    transform: scale(0);
    animation: scaleIn 0.3s forwards;

    display: flex;
    flex-direction: column;
}

@keyframes scaleIn {
    to {
        transform: scale(1);
    }
}

.close-button {
    width: 40px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    font-size: 40px;
    cursor: pointer;
}
.auth{
    padding: 30px 30px 0 30px;
}
.auth__form {
    display: flex;
    flex-flow: column;
    gap: 35px;
}
.auth__title{
    margin: 0 auto;
}
.input-box{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: #EFEFEF;
    border: 13px transparent;
    border-radius: 12px;

    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;


    color: #9596A6;

    padding: 22px;
}

.input-box:focus-within {
    border: 2px solid #000000;
    background: none;
}

.input-box__input{
    flex: 1;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
}
.input-box__icon{
    width: 21px;
    height: 21px;
}
.auth__label{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 124.5%;
    /* identical to box height, or 25px */

    color: #000000;

}
.auth__button{
    width: 100%;
}
.confirm__form{
    margin-top: 20px;
    width: 100%;
}
.confirm__button{

}